.all{
    text-align: center;
}

.title{
    font-size: 60px;
    font-weight: bold;
    font-family: serif;
    padding: 50px;
}

.subtitle{
    font-size: 35px;
    font-family: cursive;
    font-weight: bold;
    padding: 30px;
}

.kind{
    font-size: 25px;
    font-weight: bold;
}

.small_kind{
    font-size: 20px;
    font-weight: bold;
}

.contents{
    font-size: 20px;
    font-weight: bold;
}