
.all {
    padding: 20px 0px 20px 0px;
    text-align: center;
}

.subtitle {
    text-align: center;
    font-size: 25px;
    background-color: #1b1b1b;
    padding: 20px 0px 20px 0px;
    color: #153cfc;
}

.line1 {
    font-size: 25px;
    font-weight: bold;
    color: #1616d4;
}

.line2{    
    font-size: 15px;
    font-weight: bold;
}

.line3  {
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.line4{
    font-size: 25px;
    font-weight: bold;
    color:rgb(69, 69, 248)
}

.story-second {
    background-color: black;
}

.story-fourth {
    background-color: black;
}

body{
    margin: 0px;
    border-top: solid 50px #374B4A;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn--blue {
  color: rgb(255, 255, 255);
  background-color: blue;
  border-bottom: 5px solid blue;
}

a.btn--blue:hover {
  margin-top: 3px;
  color: rgb(255, 255, 255);
  background: blue;
  border-bottom: 2px solid blue;
}
a.btn--blue {
    color: rgb(255, 255, 255);
    background-color: blue;
    border-bottom: 5px solid blue;
  }
  
  a.btn--blue:hover {
    margin-top: 3px;
    color: rgb(255, 255, 255);
    background: blue;
    border-bottom: 2px solid blue;
  }

#button {
    text-align: center;
}

#body{
    background-image: url(.\pic\white_00048.jpg);
}