
.all {
    padding: 20px 0px 20px 0px;
    text-align: center;
}

.subtitle {
    text-align: center;
    font-size: 25px;
    background-color: #1b1b1b;
    padding: 20px 0px 20px 0px;
    color: #153cfc;
}

.line1 {
    font-size: 25px;
    font-weight: bold;
    color: #1616d4;
}

.line3  {
    color: white;
}

.line4{
    font-size: 25px;
    font-weight: bold;
    color:rgb(69, 69, 248)
}

.story-second {
    background-color: black;
}

.story-fourth {
    background-color: black;
}