/* キキララ */
body{
    border-top: solid 10px #374B4A;
}

img{
    margin: 30px;
}
/* キキララ */
/* Michael */
#title {
    text-align: center;
}
/* Michael */
/* けだ */
#range {
    text-align: center;
}

.title {
    display: inline-block;
    margin: 10px 150px 100px 150px;
}
/* けだ */