/* キキララ */
#body{
    margin: 0px;
    border-top: solid 50px #374B4A;
}

#img1{
    text-align: center;
    margin: 30px;
}

#name{
    text-align: center;
    font-size: 25px;
    margin: 15px;
    font-weight: bold;
}
/* キキララ */
/* Michael */
#title1 {
    text-align: center;
    display: flex;
    font-size: 75px;
    background-size: 500px 360px;
    font-weight: bold;
    height: 360px;
}

#title1 p{
    text-align: center;
}
/* Michael */
/* けだ */
#range {
    text-align: center;
}

.title {
    display: inline-block;
    margin: 10px 250px 10px 250px;
}
.one {
    display: inline-block;
}
.banner1 {
    margin: 0px 115px;
    cursor: pointer;
    transition-duration: 0.5s;
}
.seccond {
    display: inline-block;
}
.banner2 {
    margin: 25px 115px 0px 115px;
    cursor: pointer;
    transition-duration: 0.5s;
}
.third {
    display: inline-block;
}
.banner3 {
    margin: 25px 115px 0px 115px;
    cursor: pointer;
    transition-duration: 0.5s;
}
.banner1:hover{
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    transform: translateY(-10px);
    transition-duration: 0.5s;
}
.banner2:hover{
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    transform: translateY(-10px);
    transition-duration: 0.5s;
}
.banner3:hover{
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    transform: translateY(-10px);
    transition-duration: 0.5s;
}
/* けだ */